# Image preprocessing
numpy
opencv-python-headless

# Image-to-text model
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.11.0+cpu
torchvision==0.12.0+cpu
protobuf
sentencepiece
transformers

# Serve model on a REST API
uvicorn
python-multipart
fastapi